# Lab Environment Configuration
# ==============================

# ENV: Choose 'local' or 'production'
# local: services at *.local
# production: services at *.mlovera.dev (via Cloudflare Tunnel)
ENV=local
DOMAIN_SUFFIX=local

# Cloudflare Configuration
# ========================
# Only required for production.
# Get your token from Cloudflare Zero Trust -> Access -> Tunnels
TUNNEL_TOKEN=

# OpenProject Configuration
# ========================
SECRET_KEY_BASE=
POSTGRES_PASSWORD=
PORT=8080
OPENPROJECT_HTTPS=false
OPENPROJECT_HOST__NAME=openproject.local
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
